# Secrets
Backend/med-application/med-application/src/main/resources/firebase-service-account.json
**/.env
Backend/med-application/med-application/src/main/resources/application.properties


# Builds
android/app/build/
node_modules


# Ignorer les fichiers générés ou temporaires
target/
*.log